<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>

    <title>首页</title>
    <style>
        .navbar-link.logout {
            color: red;
            font-size: 16px;
            font-weight: 700;
        }

        .hidden {
            display: none;
        }

        .update-box ol {
            margin-bottom: 0px;
        }

        .update-box .breadcrumb {
            margin-bottom: 0px;
        }
    </style>
</head>

<body>
    <div class="container col-sm-10 col-sm-offset-1">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">欢迎进入后台管理</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <p class="navbar-text navbar-right">欢迎[{{username}}]登录
                            <a href="/logout" class="navbar-link logout">退出</a>
                        </p>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">学生管理
                    </a>
                    <a href="#" class="list-group-item">系统管理</a>
                    <a href="#" class="list-group-item">用户管理</a>
                    <a href="#" class="list-group-item">修改密码</a>
                    <a href="#" class="list-group-item">退出系统</a>
                </div>
            </div>
            <div class="col-md-9 list-box">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a href="#">学生管理</a>
                    </li>
                    <li class="active">学生列表</li>
                </ol>
                <div class="breadcrumb">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon">学生姓名</div>
                                <input type="text" class="form-control" name="studentname" id="exampleInputAmount" placeholder="请输入学生姓名查询">

                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-search" >查询</button>
                        <button type="submit" class="btn btn-success insert">新增</button>
                    </form>
                </div>

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>年龄</th>
                            <th>性别</th>
                            <th>手机号码</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center ">
                            <td>小王</td>
                            <td>20</td>
                            <td>男</td>
                            <td>123456789012</td>
                            <td>
                                <a class="btn bg-primary ">编辑</a>
                                |
                                <a href="#" class="btn btn-danger">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9 update-box hidden">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ol class="breadcrumb">
                            <li>
                                <a href="#">首页</a>
                            </li>
                            <li>
                                <a href="#">学生管理</a>
                            </li>
                            <li class="active">学生列表</li>
                        </ol>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <form action="" method="post" class="form-horizontal">
                                <div class="form-group">
                                    <label for="vtitle" class="col-sm-2 control-label">姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" value="请善待程序员" id="name" placeholder="请输入姓名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vsortno" class="col-sm-2 control-label">年龄</label>
                                    <div class="col-sm-10">
                                        <input type="Number" class="form-control" name="age" value="18" id="age" placeholder="请输入年龄">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vvideoid" class="col-sm-2 control-label">性别</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="sex" value="男" id="sex" placeholder="请输入性别">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vsummary" class="col-sm-2 control-label">电话</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="phone" value="18888888888" id="phone" placeholder="请输入电话">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vimg" class="col-sm-2 control-label">地址</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="address" value="中粮商务公园庭威" id="address" placeholder="请输入地址">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vremark" class="col-sm-2 control-label">简介</label>
                                    <div class="col-sm-10">
                                        <textarea style="width: 100%;height: 220px" name="introduction" placeholder="请输入简介">10块钱盒饭 都吃不起</textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success updata">修改</button>
                                        <button type="submit" class="btn btn-warning">取消</button>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

</body>

</html>
<script>
    $(function () {
        //点击新增跳到新增界面
        $('.insert').click(function (event) {
            event.preventDefault();
            $('.list-box').addClass('hidden');
            $('.update-box').removeClass('hidden').find('.updata').text('新增');
        });
        //点击取消
        $('.btn-warning').click(function (event) {
            event.preventDefault();
            $('.list-box').removeClass('hidden');
            $('.update-box').addClass('hidden');
        });

        //点击编辑
        $('.list-box table').on('click', 'a.btn-success', function () {
            // console.log('dkkdksdmksmdkl');

            let id = $(this).parent().parent().attr('data-id');
            //console.log(id);
            
            // 调用根据id获取数据的接口
            $.ajax({
                url: '/index/search',
                data: {
                    id
                },
                // type:,
                success: function (backData) {
                  //  console.log(backData);
                    // 回调函数中 显示编辑页面 修改内部的值
                    $('.list-box').addClass('hidden');
                    $('.update-box').removeClass('hidden').find('.updata').text('修改');
                    // 返回的数据对象{name,phone,sex,age...}
                    let data = backData.list[0];
                    // 跟form表单中的 表单元素的 name相等
                    for (const key in data) {
                        // 找到form中 name属性 跟key相等的表单元素 赋值为 对象 对应的属性的值
                        $(`.update-box form [name=${key}]`).val(data[key]);
                    }
                    // 把id 保存起来
                    $('.update-box form button[type=submit]').attr('data-id', data._id);


                }
            });
        });

        //渲染页面
        function renderData() {
            $.ajax({
                url: 'index/list',
                success: (backData) => {
                    console.log(backData.list.length);
                    let totalStr = '';
                    for (let i = 0; i < backData.list.length; i++) {
                        totalStr +=
                            `
                    <tr  data-id='${backData.list[i]._id}'>
                        <td>${backData.list[i].name}</td>
                        <td>${backData.list[i].age}</td>
                        <td>${backData.list[i].sex}</td>
                        <td>${backData.list[i].phone}</td>
                        <td>
                            <a href="#" class="btn btn-success btn-sm">编辑</a>
                            |
                            <a href="#" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>`;
                    }
                    // console.log(totalStr);
                    $('.list-box tbody').html(totalStr);
                }
            })

        }
        //渲染页面
        renderData();

        //点击新增页 中的新增 学生信息
        $("button.updata").click(function (event) {

            event.preventDefault();
            if ($(this).text() == '新增') {
                //  console.log($('.update-box form').serialize());
                $.ajax({
                    url: 'index/insert',
                    data: $('.update-box form').serialize(),
                    success: (backData) => {
                        // console.log(backData);
                        renderData();
                        $('.btn-warning').click();
                    }
                });
            } else if ($(this).text() == '修改') {
                // 格式化数据
                let sendData = $(".update-box form").serialize();
                // 拼接id上去
                // console.log(sendData);
                sendData += `&id=${$(this).attr('data-id')}`;
                // console.log(sendData);

                // 修改逻辑
                $.ajax({
                    url: '/index/update',
                    data: sendData,
                    type: "get",
                    success: (backData) => {
                        console.log(backData);
                        // 重新获取数据
                        renderData();
                        // 关闭新增界面
                        // 显示列表区域
                        $('.btn-warning').click();
                    }
                })
            }
        });

        
        // 删除逻辑
        $('.list-box tbody').on('click', 'a.btn-danger', function () {
            // 提示用户
            if (window.confirm('你真的要这样?o(╥﹏╥)o')) {
                // 获取id
                let id = $(this).parent().parent().attr('data-id');
                // 调用接口
                $.ajax({
                    url: '/index/delete',
                    data: {
                        id
                    },
                    // type:,
                    success: function (backData) {
                        console.log(backData);
                        renderData();
                    }
                })
                // 回调函数中重新加载页面数据(局部刷新)
            } else {
                // 取消了
                alert('好样的');
            }


        })

        // 查询逻辑
        $('.btn-search').click(function () {
            // 获取输入的值
            let userName = $("#exampleInputAmount").val();
            // 调用接口
            $.ajax({
                url: '/index/search',
                data: {
                    userName
                },
                // type:,
                success: function (backData) {
                    
                    let totalStr = '';
                    for (let i = 0; i < backData.list.length; i++) {
                        totalStr +=
                            `
                    <tr  data-id='${backData.list[i]._id}'>
                        <td>${backData.list[i].name}</td>
                        <td>${backData.list[i].age}</td>
                        <td>${backData.list[i].sex}</td>
                        <td>${backData.list[i].phone}</td>
                        <td>
                            <a href="#" class="btn btn-success btn-sm">编辑</a>
                            |
                            <a href="#" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>`;
                    }
                    // console.log(totalStr);
                    $('.list-box tbody').html(totalStr);
                }
                
            })
            // 渲染页面

        })
        

    });
</script>